<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This Splurty was built by <a target="_blank" href="https://github.com/robynwang314/robynwang">Robyn</a>. A coding bootcamper who is looking to advance her skills in web development.
  </p>
  <br />
  <p>
    This is the first web application she's ever built, following the instructions from week two of her bootcamp course.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Robyn Wang</h2>
    <br />

    <p>
      Robyn is new to web developing and is a student at UCB Extension coding bootcamp.
    </p>
  </div>
</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />